.logout-span{
    /* width: 50px;
    height: 50px; */
    min-width: 10px;
    min-height: 10px;
}

.logout-btn{
    position: relative;
    top: 1vh; 
    background: url(./icons8-logout-24.png);
    background-size: cover;
    /* width: 1.77vw;
    height: 1vh; */
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
   
   
    /* margin-top: 0.5vmin;
    margin-right: 1.3vmax; */
    min-width: 10px;
    min-height: 10px;
    max-width: 50px;
    max-height: 50px;
    border: none;
}