

.list-group{
    width: 60%;
    justify-content: center;
}
.list-group-item{
    left: 30%;
}


h2{
    font-family: 'Lato';
    text-align: center;
}

.delete-button{
    background: url(./icons8-delete-16.png);
    background-size: cover;
    border: none;
    padding: 0px;
    margin-left: 5px;
    width: 16px;
    height: 16px;
    align-items: flex-end;
    justify-content: right;
}

.edit-button{
    background: url(./icons8-edit-16.png);
    background-size: cover;
    border: none;
    padding: 0px;
    width: 16px;
    height: 16px;
}

.edit-meal-button{
    background: url(./icons8-change-48.png);
    background-size: cover;
    border: none;
    padding: 0px;
    margin-left: 1px;
    width: 28px;
    height: 28px;
}

.add-more-button{
    position: relative;
    display: block;
    background: url(./icons8-add-50.png);
    background-size: cover;
    border: none;
    padding: 0px;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    /* left: 31.8vw; */

}

.add-more-button:hover{
    position: relative;
    display: block;
    background: url(./icons8-add-50\ filled.png);
    background-size: cover;
    border: none;
    padding: 0px;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    /* left: 31.8vw; */

}


.creation-date{
    /* font-family: 'Lato'; */
    font-size: small;
}

#MealplansContainer{
    position: relative;
    top: 3vh;
    background-color: rgb(255, 255, 255);
    left: -0.5vw;
}