#meals-container{
    position: relative;
    width: 80vw;
    top: 5vh;
}
/* 
.inner-addon {
    position: relative;
} */

/*.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none; 
} */

/* .right-addon .glyphicon { 
    right: 0px;
} */
@font-face {
    font-family: "Lexend";
    src: url(../LexendDeca-Light.ttf);
}

#mealsearch-form{
    position: relative;
    display: flex;
    flex-direction: row;
    border-radius: 1.625rem;
    width: 40vw;
    left: 14vw;
  
  /* This bit draws the box around it */
    border:0.1vmax solid grey;
    background-color: rgba(0, 0, 0, 1);

  /* I've used padding so you can see the edges of the elements. */
    padding:0.3vmin;
    height: 5vh;
}

/* .input-group-btn{
    /* width: 50px;
    height: 50px; 
    min-width: 20px;
    min-height: 20px;
} */

.search-icon{
    position: relative;
    /* flex-grow: 2; */
    border-radius: 0rem 1rem 1rem 0rem;

    
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='60' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: 98% center;
    background-color: rgba(255, 255, 255, 0.5);
    /* width: 1.77vw;
    height: 1vh; */
    width: 30px;
    height: 100%;
   
   
    /* margin-top: 0.5vmin;
    margin-right: 1.3vmax; */
    min-width: 20px;
    min-height: 20px;
    max-width: 50px;
    max-height: 50px;
    border: none;
}



#mealsearch{
    position: relative;
    width: 20vw;
    padding: 12px 24px;
    border-radius: 1rem 0rem 0rem 1rem;

    /* background-color: transparent; */
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    border: none;
    
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    
}

#mealsearch::placeholder{
    color: black;
    font-weight: 700;
}



#mealsearch:focus{
    outline:none !important;
    color: black;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

input:active{
    outline: none;
}

#rename-form{
    position: relative;
    display: flex;
    flex-direction: row;
    border-radius: 1.625rem;
    width: 40vw;
    left: 14vw;
  
  /* This bit draws the box around it */
    /* border:0.1vmax solid grey;
    background-color: white; */

  /* I've used padding so you can see the edges of the elements. */
    padding:0.3vmin;
    height: 10vh;
}

#rename{
    position: relative;
    /* border: 10px; */
    border-width: 1px;
    /* border-color: rgb(255, 0, 0); */
    border-radius: 1rem;
    outline: none;
    width: 40vw;
    height: 4vh;
}

#rename:focus{
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.myModal .modal-content{
    background-color: "#13161d"
}
/* .wrapper{
    display: grid;
    grid-template-columns: 10px 10px 10px;
    grid-template-rows: 200px 200px 200px 200px;
}* {box-sizing: border-box;} */

/* input:focus{
    outline: none !important;
}
.form-outline:focus{
    outline: none !important;
} */