#meals-container{
    position: relative;
    width: 80vw;
    top: 5vh;
}
/* 
.inner-addon {
    position: relative;
} */

/*.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none; 
} */

/* .right-addon .glyphicon { 
    right: 0px;
} */
@font-face {
    font-family: "Lexend";
    src: url(../LexendDeca-Light.ttf);
}

#mealsearch-form{
    position: relative;
    display: flex;
    flex-direction: row;
    border-radius: 1.625rem;
    width: 40vw;
    left: 14vw;
  
  /* This bit draws the box around it */
    border:0.1vmax solid grey;
    background-color: white;

  /* I've used padding so you can see the edges of the elements. */
    padding:0.3vmin;
    height: 5vh;
}

.input-group-btn{
    /* width: 50px;
    height: 50px; */
    min-width: 20px;
    min-height: 20px;
}

.search-icon{
    position: relative;
    /* flex-grow: 2; */
    right: 2vw;
    top: 0.2vh;
    background: url(./icons8-search-50.png);
    background-size: cover;
    /* width: 1.77vw;
    height: 1vh; */
    width: 2rem;
    height: 2rem;
   
   
    /* margin-top: 0.5vmin;
    margin-right: 1.3vmax; */
    min-width: 20px;
    min-height: 20px;
    max-width: 50px;
    max-height: 50px;
    border: none;
}

#mealsearch{
    position: relative;
    /* border: 10px; */
    border-width: 0px;
    /* border-color: rgb(255, 0, 0); */
    border-radius: 1.625rem;
    outline: none;
    width: 40vw;
    height: 4vh;
}

#mealsearch:focus{
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

input:active{
    outline: none;
}

#rename-form{
    position: relative;
    display: flex;
    flex-direction: row;
    border-radius: 1.625rem;
    width: 40vw;
    left: 14vw;
  
  /* This bit draws the box around it */
    /* border:0.1vmax solid grey;
    background-color: white; */

  /* I've used padding so you can see the edges of the elements. */
    padding:0.3vmin;
    height: 10vh;
}

#rename{
    position: relative;
    /* border: 10px; */
    border-width: 1px;
    /* border-color: rgb(255, 0, 0); */
    border-radius: 1rem;
    outline: none;
    width: 40vw;
    height: 4vh;
}

#rename:focus{
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
/* .wrapper{
    display: grid;
    grid-template-columns: 10px 10px 10px;
    grid-template-rows: 200px 200px 200px 200px;
}* {box-sizing: border-box;} */

/* input:focus{
    outline: none !important;
}
.form-outline:focus{
    outline: none !important;
} */