#MealplanContainer{
    background-color: rgba(19, 22, 29, 0.5);
    font-family: 'Lato';
    font-weight: bold;
    text-align: center;
    width: 70vw;
    color: whitesmoke
}

.card {
    position: relative;
    background: rgb(255, 255, 255);
    border: 1px solid #000000;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 2rem;
}

/* .col:not(.last){
    border-right: thin solid #636363;
} */


/* .row.display-flex {
    display: flex;
    flex-wrap: wrap;
}

.row.display-flex > [class*='col'] {
    display: flex;
    flex-direction: column;
} */